* text=auto

/.eslintignore export-ignore
/.eslintrc.js export-ignore
/.flowconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/CONTRIBUTING.md export-ignore
/DEVELOPMENT export-ignore
/ISSUE_TEMPLATE.md export-ignore
/circle.yml export-ignore
/docs export-ignore
/flow-libs export-ignore
/flow-typed export-ignore
/modules/eslint-plugin-nuclide-internal export-ignore
/modules/nuclide-jasmine export-ignore
/yarn.lock export-ignore

.eslintrc export-ignore
spec export-ignore
scripts export-ignore
