.DS_Store
npm-debug.log
node_modules
# APM uses the .gitignore for installation purposes.
# This is merged into the regular .gitignore by the release script.

/.flowconfig
/.gitignore.release
/CONTRIBUTING.md
/DEVELOPMENT
/circle.yml
/docs
/flow-libs
/flow-typed
/modules/eslint-plugin-nuclide-internal
/modules/nuclide-jasmine
/modules/scripts

.eslintignore
.eslintrc.js
.eslintrc
scripts
spec
